.beneficio-container {
  padding: 40px 20px;
}

.beneficio-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;

  h1 {
    background-color: #dbeeff;
    padding: 6px 16px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 2.2rem;
  }

  p {
    max-width: 800px;
    line-height: 1.6;
    color: #333;
    margin-top: 16px;
    text-shadow: 0 0 1px #000;
  }

  .beneficio-foto {
    border-radius: 30px;
    margin-top: 20px;
  }
}



.beneficio-noticias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
  background-color: #dbf5ff4b;
  padding: 50px;

  .beneficio-card {
    background: #fff;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;

    img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }

    p {
      padding: 12px;
      font-size: 14px;
      color: #222;
    }

    &:hover {
      transform: translateY(-4px);
    }
  }
}
