.principal {
  text-align: center;
  padding: 60px 20px;
  background-color: #f8faff;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
    color: #111;
  }

  .principal-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    background-color: #e9f3ff;
  }

  .card {
    background-color: #e9f3ff;
    border-radius: 16px;
    padding: 20px 30px;
    width: 180px;
    transition: transform 0.3s ease;
    object-fit: cover;

    &:hover {
      transform: translateY(-6px);
    }

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      border-radius: 50%;
      background: #fff;
      margin-bottom: 12px;
    }

    p {
      font-weight: 600;
      color: #333;
    }
  }
}

.noticias {
  background-color: #e9f3ff;
  padding: 60px 20px;
  text-align: center;

  h2 {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #222;
  }

  .noticias-carrossel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    u

    .noticia-banner {
      width: 90%;
      max-width: 600px;
      border-radius: 12px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      background: #fff;
      padding: 20px;
    }

    .seta {
      background: #fff;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 22px;
      cursor: pointer;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      color: #0072ff;
      transition: 0.2s ease;

      &:hover {
        background: #0072ff;
        color: #fff;
        transform: scale(1.1);
      }

      &.seta-esquerda {
        position: absolute;
        left: 10px;
      }
      &.seta-direita {
        position: absolute;
        right: 10px;
      }
    }
  }

  .noticias-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .noticia-card {
      background: #fff;
      border-radius: 12px;
      width: 280px;
      text-align: left;
      overflow: hidden;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
      transition: 0.3s ease;

      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
      }

      p {
        padding: 12px;
        font-size: 14px;
        color: #222;
        text-align: center;
      }

      &:hover {
        transform: translateY(-4px);
      }
    }
  }
}
