.cadastro-container {
  max-width: 450px;
  margin: 0 auto;
  background: #fff;
  padding: 70px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .logo{
width: 220px;
margin-left: 119px;  }

  h2, h1 {
    color: #007bff; 
    text-align: center;
    margin-bottom: 10px;
  }

  h2{
      color: #353535; 
    text-align: start;
    margin-bottom: 10px;
  }
  h3 {
    border-top: 1px solid #ccc;
    margin-top: 25px;
    padding-top: 10px;
    color: #007bff;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="password"] {
    background-color: #e6f3ff;
    border: 1px solid #c4d9f5;
    border-radius: 6px;
    padding: 6px;
    outline: none;
    width: 100%;
    transition: 0.2s;

    &:focus {
      border-color: #007bff;
    }
  }

  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 65px;
  }

  
  .sexo-group {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px 0;

    p {
      font-weight: 500;
      margin-bottom: 8px;
      align-self: flex-start;
    }

    .opcoes-sexo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;

      label {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 0.9rem;
        cursor: pointer;

        input[type="radio"] {
          accent-color: #007bff;
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }

    .aviso {
 
      color: red;
      font-size: 0.8rem;
      margin-top: 2px;
      margin-left: 135px;
      font-style: italic;
    }
  }

  .botao-proximo {
    display: block;
    margin: 25px auto 10px;
    padding: 10px 30px;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #339aff;
    }
  }
}
