.esqueceu-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef6fd; 
  font-family: "Poppins", sans-serif;
}

.esqueceu-card {
  background: #ffffff;
  border-radius: 15px;
  width: 430px;
  height: 600px;
  padding: 25px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  border: 5px solid #ececec;

}

.esqueceu-header {
  text-align: center;
  margin-bottom: 20px;

  .logo {
    width: 250px;
    height: auto;
  }

  h2 {
    color: #007bff;
    font-weight: 600;
    margin-top: 5px;
  }
}

.profile-circle img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  background: #eee;
}

.esqueceu-form {
  width: 100%;
  text-align: center;

  label {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 15px 0px;
    border-radius: 8px;
    border: 2px solid #bde0fe;
    align-items: center;
    outline: none;
    background: #e7f4ff;
    margin-bottom: 15px;
    font-size: 0.95rem;

    
    &:focus {
      border-color: #8ac0ff;
      background: #fff;
    }
  }

  .info-text {
    font-size: 0.85rem;
    color: #333;
    margin: -5px 0 10px;
  }

  .codigo-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 5px;

    input {
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 1.2rem;
      border-radius: 8px;
      background: #d9f2ff;
      border: 1.5px solid #bde0fe;

      &:focus {
        border-color: #7ec4ff;
        background: #fff;
      }
    }
  }

  .reenviar {
    display: inline-block;
    margin-top: 30px;
    color: #ff4b4b;
    font-size: 0.85rem;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      text-decoration: underline;
    }
  }

  .entrar-btn {
    background: #007bff;
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    margin-top: 20px;

    &:hover {
      background: #e57a00;
    }
  }
}
